Hi,

Please find below the requested details from Titles and Locations search page:

url: <%= @title.uri %>
email: <%= @title.email %>
title: <%= @title.title %>
location: <%= @title.location %>
created: <%= @title.created_at %>

Your Titles & Locations site team.
