<h1>Titles and Locations - requested details</h1>

<p>
Hi,<br/><br/>

Please find below the requested details from Titles and Locations search page:<br/><br/>

url: <%= @title.uri %><br/>
email: <%= @title.email %><br/>
title: <%= @title.title %><br/>
location: <%= @title.location %><br/>
created: <%= @title.created_at %><br/><br/>

Your Titles & Locations site team.
</p>
