  <% puts "Errors count (err-msg): " + @title.errors.count.to_s %>
  <% puts "Errors list (err-msg): " + @title.errors.full_messages.to_s %>
  <% puts "Errors any (err-msg): " + @title.errors.any?.to_s %>

  <% if @title.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        Please correct following <%= pluralize(@title.errors.count, "error") %>:
      </div>
      <ul>
      <% @title.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @title.errors.full_messages.each do |error| %>
      <li><%= error %></li>
  <% end %>