      <%= form_for @title do |f| %>

        <% if @title.errors.any? %>

        <div class="row">
          <div class="col-md-11">
            <div id="error_explanation">
              <div class="alert alert-danger">
                Please correct following <%= pluralize(@title.errors.count, "error") %>:
              </div>
              <ul>
              <% @title.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>

          <%# render 'shared/error_messages' %>
        <% end %>
        
        <div class="row">
        
          <div class="col-md-6">
<!--            < %= f.label :Url %>: -->
            <%= f.label :uri %>
          </div>

          <div class="col-md-6">
            <%= f.label :email %>
          </div>

        </div>

        <div class="row">
        
          <div class="col-md-6">
            <%= f.text_field :uri, class: 'form-control input-sm' %>
          </div>

          <div class="col-md-6">
            <%= f.email_field :email, class: 'form-control input-sm' %>
          </div>

        </div>

        <div class="row">
        
          <div class="col-md-6" style="border: 0px solid lightblue;">
            <!-- <div class="g-recaptcha" data-sitekey="6LfU0qwUAAAAAKd0cs_tT4w0iQShXjrhE8OnqXVg"> -->
              <%= recaptcha_tags %>
            <!-- </div> -->
          </div>

          <div class="col-md-6 d-flex align-items-center">
            <%= f.submit "Search for details", class: "btn btn-md btn-primary" %>
          </div>

        </div>

      <% end %>
