<div class="row" style="margin-bottom: 10px;">

  <div class="col-md-2">
    <%= title.created_at.strftime("%F %H:%M") %>
  </div>

  <div class="col-md-2">
    <%= title.uri %>
  </div>

  <div class="col-md-2">
    <%= title.email %>
  </div>

  <div class="col-md-3">
    <%= title.title %>
  </div>

  <div class="col-md-2">
    <%= title.location %>
  </div>

  <div class="col-md-1">
    <%= link_to "delete", title, method: :delete, data: { confirm: "Do you realy want to delete selected row?" } %>
  </div>

</div>
