<% provide(:title, "Help") %>
<!DOCTYPE html>
<h1>Titles & Locations - <%= yield(:title) %></h1>
<p>
  This is the Help page for the Titles & Locations Application.
</p>

<p>
  <u>How to enter a URL value</u><br/>
  You can enter a URL value either by its relative form, like www.google.com<br/>
  or by its absolute form, like https://www.google.com (for secure connection) or http://www.google.com (for not secure connection).
</p>
