
<div class="table jumbotron" id="table_01">

  <div class="row">
    
    <div class="col-md-6" style="border: 0px solid blue;">
      <h2>Welcome on the Titles & Locations searching page.</h2><br/>
      1. Enter the Url of requested site. See help link for some advice.<br/>
      2. Enter your email address where the searched result will be sent to.<br/>
      3. Tick the reCaptcha to confirm you are not a robot.<br/>
      4. Click the <b>Search for details</b> button.
    </div>

    <div class="col-md-6" style="border: 0px solid blue;">
      <%= render 'title_form' %>
    </div>

  </div>

</div>

<div class="table jumbotron" id="table_02">

  <div class="row">
    <div class="col-md-12">
      <h2>Search history:</h2u>
    </div>
  </div>

  <hr/>
  
  <div class="row" style="margin-bottom: 10px;">
  
    <div class="col-md-2">
      <b>Date</b>
    </div>
  
    <div class="col-md-2">
      <b>Url</b>
    </div>
  
    <div class="col-md-2">
      <b>Email</b>
    </div>
  
    <div class="col-md-3">
      <b>Title</b>
    </div>
  
    <div class="col-md-3">
      <b>Location</b>
    </div>
  
  </div>
  
  <%= render @titles %>
  
  <hr/>
  
</div>
