<% provide(:title, 'All titles') %>

<h1>Titles & Locations - List</h1>

<%= will_paginate %>

<hr/>

<div class="row" style="margin-bottom: 10px;">

  <div class="col-md-2">
    <b>Date</b>
  </div>

  <div class="col-md-2">
    <b>Url</b>
  </div>

  <div class="col-md-2">
    <b>Email</b>
  </div>

  <div class="col-md-3">
    <b>Title</b>
  </div>

  <div class="col-md-3">
    <b>Location</b>
  </div>

</div>

<%= render @titles %>

<hr/>

<%= will_paginate %>
