<h1>Title details</h1>

id: <%= @title.id %><br/>
url: <%= @title.uri %><br/>
email: <%= @title.email %><br/>
title: <%= @title.title %><br/>
location: <%= @title.location %><br/>
created: <%= @title.created_at %><br/>
