<!--
<div class="center jumbotron">

  <h1>Welcome to the Title & Location App</h1>

  <h2>
    This is the home page for the customer Title and Location request page.
  </h2>

</div>

<hr/>
-->

<div class="table jumbotron">

  <div class="row">
  
    <div class="col-md-4 col-md-offset-2">
  
      <%= form_with model: @title do |f| %>
        
        <%= f.label :uri %>
        <%= f.text_field :uri, class: 'form-control' %>
  
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
  
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
  
        <%= f.submit "Request details", class: "btn btn-primary" %>
      <% end %>
  
    </div>
  
  </div>

</div>

<hr/>

<div class="jumbotron">

  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <u>Titles of 4 static pages:</u><br/><br/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 col-md-offset-2">
      Site 
    </div>
    <div class="col-md-3">
      Uri 
    </div>
    <div class="col-md-6">
      Title 
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 col-md-offset-2">
      Seznam: 
    </div>
    <div class="col-md-3">
      <%= @page1.uri %> 
    </div>
    <div class="col-md-6">
      <%= @page1.title %> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 col-md-offset-2">
      CNN: 
    </div>
    <div class="col-md-3">
      <%= @page2.uri %> 
    </div>
    <div class="col-md-6">
      <%= @page2.title %> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 col-md-offset-2">
      Weather: 
    </div>
    <div class="col-md-3">
      <%= @page3.uri %> 
    </div>
    <div class="col-md-6">
      <%= @page3.title %> 
    </div>
  </div>

</div>
