<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Titles and Locations", root_path, id: "logo" %>
    <nav>
      <ul id="menutop" class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Index", index_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
      </ul>
    </nav>
  </div>
</header>
